@model DogBreederCapstone.Models.Image

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 60px;
        width: auto;
        margin-left: 5.5%;
        margin-right: 5.5%;
        background-color: #c9edff;
        text-align: center;
        padding-top: 20px;
        color: black;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        font-family: Trebuchet MS, Helvetica, sans-serif;

    }

    h5 {
        font-style: oblique;
        font-weight: bold;
        font-size: medium;
    }

    .btn-sm:hover {
        background-color: #19334d;
    }


    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }

</style>

<br />
<div>
    <h2 style="text-align: center;">Image Uploader</h2>
    <hr class="border" />
    <h5 class="well">~upload your Doggo images here</h5>
</div>

@using (Html.BeginForm("Add", "Images", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" class="btn-sm" name="ImageFile" runat="server" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-sm" />
            </div>
        </div>
    </div>
}

