@model DogBreederCapstone.Models.ApplicationForm

@{
    ViewBag.Title = "ApplicationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    div.col-container {
        display: table;
        width: 100%;
    }

    div.col-md-3 {
        text-align: right;
        padding-bottom: 2px;
        display: table-cell;
        height: 70px;
    }

    div.col-md-9 {
        padding-bottom: 5px;
        text-indent: 50px;
        display: table-cell;
        height: 70px;
    }

    div.left {
        text-align: left;
    }

    div.right {
        text-align: right;
    }

    div.bottom-padding {
        padding-bottom: 25px;
    }

    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }
</style>

<br/>
<h2 style="text-align: center">Application Review</h2>

<hr class="border"/>

<div class="col-container">
    <div class="col-md-2 right">
        <dt>
            @Html.DisplayNameFor(model => model.PotentialOwner.FirstName)
        </dt>
    </div>
    <div class="col-md-2 left">
        <dd>
            @Html.DisplayFor(model => model.PotentialOwner.FirstName)
        </dd>
    </div>
    <div class="col-md-2 right">
        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>
    </div>
    <div class="col-md-2 left">
        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>
    </div>
    <div class="col-md-2 right">
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
    </div>
    <div class="col-md-2 left">
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </div>
    <div class="col-md-2 right">
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
    </div>
    <div class="col-md-10 left bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </div>
    

    <div class="col-md-2 right">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
    </div>
    <div class="col-md-2 left">
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </div>
    <div class="col-md-2 right">
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
    </div>
    <div class="col-md-2 left">
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
    </div>
    <div class="col-md-2 right">
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
    </div>
    <div class="col-md-2 left">
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </div>
    <div class="col-md-2 right">
        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
    </div>
    <div class="col-md-10 left bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
    </div>
    
    <hr class="border"/>

    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.Referral)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.Referral)
        </dd>
    </div>
    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.Use)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.Use)
        </dd>
    </div>
    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.Live)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.Live)
        </dd>
    </div>
    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.Training)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.Training)
        </dd>
    </div>
    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.PreviousDogs)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.PreviousDogs)
        </dd>
    </div>
    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.PreviousDogsLive)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.PreviousDogsLive)
        </dd>
    </div>
    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.OutOfTownPlan)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.OutOfTownPlan)
        </dd>
    </div>
    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.Children)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.Children)
        </dd>
    </div>
    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.Fence)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.Fence)
        </dd>
    </div>
    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.Reasoning)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.Reasoning)
        </dd>
    </div>
    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.Allergies)
        </dd>
    </div>
    <div class="col-md-6 bottom-padding">
        <dt>
            @Html.DisplayNameFor(model => model.LeftAlone)
        </dt>
    </div>
    <div class="col-md-6 bottom-padding">
        <dd>
            @Html.DisplayFor(model => model.LeftAlone)
        </dd>
    </div>
</div>

<hr class="border"/>

<p style="text-align: center">
    <input type="button" class="btn btn-sm" value="Accept" onclick="location.href = '@Url.Action("ConfirmApplication","Breeders", Model)'" />
    <input type="button" class="btn btn-sm" value="Deny" onclick="location.href = '@Url.Action("DenyApplication","Breeders", Model)'" />
</p>
