@model IEnumerable<DogBreederCapstone.Models.ApplicationForm>

@{
    ViewBag.Title = "UnconfirmedApplicationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 15px;
        width: 30%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 2px;
        color: black;
    }
</style>

<br />
<div>
    <h2>Applications</h2>
    <h6 class="well">~applications that are awaiting your request</h6>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PotentialOwner.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PotentialOwner.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <input type="button" class="btn btn-sm" value="Review" onclick="location.href = '@Url.Action("ApplicationDetails", "Breeders", item)'"/>
                </td>
            </tr>
        }
    </tbody>
</table>
