@model IEnumerable<DogBreederCapstone.Models.Appointment>

@{
    ViewBag.Title = "UnconfirmedAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 15px;
        width: 30%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 2px;
        color: black;
        
    }

    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }

    td, th {
        text-align: center;
    }

</style>

<br/>
<div>
    <h2 style="text-align: center;">Appointments</h2>
    <hr class="border" />
    <h6 class="well">~appointments that are awaiting your request</h6>
</div>
<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PotentialOwner.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PotentialOwner.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td> 
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            <input type="button" class="btn btn-sm" value="Confirm" onclick="location.href = '@Url.Action("ConfirmAppointment","Breeders", item)'" />
            <input type="button" class="btn btn-sm" value="Deny" onclick="location.href = '@Url.Action("DenyAppointment","Breeders", item)'" />
        </td>
    </tr>
}

</table>
