@model IEnumerable<DogBreederCapstone.Models.Appointment>

@{
    ViewBag.Title = "UnconfirmedAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 15px;
        width: 30%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 2px;
        color: black;
        
    }

    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }

    #table {
        font-weight: bold;
        width: 100%;
    }

    #table td, #table th {
      border: 0.20px inset #19334d;
      padding: 8px;
      text-align: center;
    }

    #table tr:nth-child(even){background-color: #ecf2f9;}

    #table tr:hover {background-color: #B2D7F7;}

    #table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #19334d;
      color: #B2D7F7;
    }
</style>

<br/>
<div>
    <h2 style="text-align: center;">Appointments</h2>
    <hr class="border" />
    <h6 class="well">~appointments that are awaiting your request</h6>
</div>

<table id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PotentialOwner.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>Confirm/Deny</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PotentialOwner.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td> 
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            <input type="button" class="btn btn-sm" value="Confirm" onclick="location.href = '@Url.Action("ConfirmAppointment","Breeders", item)'" />
            <input type="button" class="btn btn-sm" value="Deny" onclick="location.href = '@Url.Action("DenyAppointment","Breeders", item)'" />
        </td>
    </tr>
}

</table>
