@model IEnumerable<DogBreederCapstone.Models.ApplicationForm>

@{
    ViewBag.Title = "UnconfirmedApplicationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 60px;
        width: auto;
        margin-left: 5.5%;
        margin-right: 5.5%;
        background-color: #c9edff;
        text-align: center;
        padding-top: 20px;
        color: black;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        font-family: Trebuchet MS, Helvetica, sans-serif;
    }

    h5 {
        font-style: oblique;
        font-weight: bold;
        font-size: medium;
    }

    .btn-sm:hover {
        background-color: #19334d;
    }

    hr.border {
        border: 4px outset #c9edff;
        border-radius: 2.5px;
    }

    hr.border-sm {
        border: 1px solid #c9edff;
        box-shadow: 0 2px 2px #19334d;
        border-radius: 2.5px;
    }

    #table {
        font-weight: bold;
        width: 100%;
    }

    #table td, #table th {
      border: 0.20px inset #eee/*#19334d*/;
      box-shadow: 0 2px 2px #ccc;
      padding: 8px;
      text-align: center;
    }

    #table tr:nth-child(even){background-color: #ecf2f9;}

    #table tr:hover {background-color: #ccc; color: #19334d;}

    #table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #19334d;
      color: #eee;
    }

</style>

<br />
<div>
    <h2 style="text-align: center;">Applications</h2>
    <hr class="border" />
    <h5 class="well">~applications that are awaiting your request</h5>
    <hr class="border-sm" />
</div>

<table id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PotentialOwner.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>Review</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PotentialOwner.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <input type="button" class="btn btn-sm" value="Review" onclick="location.href = '@Url.Action("ApplicationDetails", "Breeders", item)'" />
                </td>
            </tr>
        }
    </tbody>
</table>
<hr class="border-sm" />
