@model DogBreederCapstone.ViewModels.DogFormViewModel

@{
    ViewBag.Title = "DogForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<h2>Add a New Pup</h2>
<br/>

@using (Html.BeginForm("Save", "Dogs"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Dog.LitterId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(m => m.Dog.LitterId, new SelectList(Model.Litters, "Id", "Name"), "Select Litter", new { @class = "form-control col-md-6" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Dog.CollarId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(m => m.Dog.CollarId, new SelectList(Model.Collars, "Id", "Color"), "Select Collar", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Dog.GenderId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(m => m.Dog.GenderId, new SelectList(Model.Genders, "Id", "Name"), "Select Gender", new { @class = "form-control col-md-6" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Dog.ImageId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(m => m.Dog.ImageId, new SelectList(Model.Images, "Id", "Title"), "Select Image", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Dog.Description, htmlAttributes: new { @class = "control-label col-md-2"})
        @Html.TextAreaFor(m => m.Dog.Description, new {@class = "form-control", rows="3"})
    </div>
    @Html.HiddenFor(m => m.Dog.Id)
    <button type="submit" class="btn btn-primary">Add</button>
}