@model DogBreederCapstone.Models.ApplicationForm

@{
    ViewBag.Title = "ApplicationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 40px;
        width: 30%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 2px;
        color: black;
    }
</style>

<br />
<div>
    <h2>Application</h2>
    <h6 class="well">~please fill out all fields to the best of your ability and submit when you're finished</h6>
</div>


@using (Html.BeginForm("SendApplication", "PotentialOwners"))
{
    @Html.AntiForgeryToken()

    <div class="tbd">
        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.FamilyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.FamilyName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FamilyName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Zipcode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <br/>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Referral, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Referral, new { htmlAttributes = new { @class = "form-control", rows="4"} })
                    @Html.ValidationMessageFor(model => model.Referral, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Use, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Use, new { htmlAttributes = new { @class = "form-control", rows="4" } })
                    @Html.ValidationMessageFor(model => model.Use, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Live, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Live, new { htmlAttributes = new { @class = "form-control", rows="4" } })
                    @Html.ValidationMessageFor(model => model.Live, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Training, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Training, new { htmlAttributes = new { @class = "form-control", rows="4" } })
                    @Html.ValidationMessageFor(model => model.Training, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.PreviousDogsLive, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.PreviousDogsLive, new { htmlAttributes = new { @class = "form-control", rows="4" } })
                    @Html.ValidationMessageFor(model => model.PreviousDogsLive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.OutOfTownPlan, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.OutOfTownPlan, new { htmlAttributes = new { @class = "form-control", rows="4" } })
                    @Html.ValidationMessageFor(model => model.OutOfTownPlan, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Fence, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Fence, new { htmlAttributes = new { @class = "form-control", rows="4" } })
                    @Html.ValidationMessageFor(model => model.Fence, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Reasoning, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Reasoning, new { htmlAttributes = new { @class = "form-control", rows="4" } })
                    @Html.ValidationMessageFor(model => model.Reasoning, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Allergies, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Allergies, new { htmlAttributes = new { @class = "form-control", rows="4" } })
                    @Html.ValidationMessageFor(model => model.Allergies, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.LeftAlone, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.LeftAlone, new { htmlAttributes = new { @class = "form-control", rows="4" } })
                    @Html.ValidationMessageFor(model => model.LeftAlone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.PreviousDogs, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.PreviousDogs)
                        @Html.ValidationMessageFor(model => model.PreviousDogs, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                @Html.LabelFor(model => model.Children, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.Children)
                        @Html.ValidationMessageFor(model => model.Children, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-12">
                <input type="submit" value="Apply" class="btn btn-sm" />
            </div>
        </div>
}

