@model DogBreederCapstone.Models.Appointment

@{
    ViewBag.Title = "AppointmentForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 60px;
        width: auto;
        margin-left: 7.5%;
        margin-right: 7.5%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 20px;
        color: black;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
    }

    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }

    hr.border-sm {
        border: 1px solid #B2D7F7;
        box-shadow: 0 2px 2px #19334d;
        border-radius: 2.5px;
    }

    h2 {
        text-align: center;
        font-weight: bold;
    }

    h5 {
        font-style: oblique;
        font-weight: bold;
        font-size: medium;
    }

    .btn-sm:hover {
        background-color: #19334d;
    }

    textarea {
        width: 80%;
        height: 80px;
        border: 2px solid #dce4ec;
    }

</style>

<br />
<div>
    <h2 style="text-align:center;">Appointment</h2>
    <hr class="border" />
    <h5 class="well">~ Let us know the time and reason for scheduling an appointment and we will try to fit you in</h5>
    <hr class="border-sm" />
</div>

@using (Html.BeginForm("SaveAppointment", "PotentialOwners"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Request" class="btn btn-sm" />
            </div>
        </div>
    </div>
}
<hr class="border-sm" />
<p style="font-size: smaller; font-style: oblique;">*Request* - will notify us directly about your requested appointment so we can review and respond with efficiency</p>
