@model DogBreederCapstone.Models.Preference

@{
    ViewBag.Title = "PreferencesForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .well {
        height: 15px;
        width: 28%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 2px;
        color: black;
    }

    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }

</style>

<br />
<h2 style="text-align:center;">Preferences</h2>
<hr class="border" />
<h6 class="well">~select your litter preferences</h6>

@using (Html.BeginForm("UpdatePreferences", "PotentialOwners"))
{
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsMicro) Micro
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsMini) Mini
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsMedium) Medium
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsStandard) Standard
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsCaramel) Caramel
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsRed) Red
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsBlue) Blue
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsSilver) Silver
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsCafe) Cafe
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsChocolate) Chocolate
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsLavender) Lavender
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsParchment) Parchment
        </label>
    </div>

    @Html.HiddenFor(m => m.Id);
    <button type="submit" class="btn btn-sm">Submit</button>
}
