@model DogBreederCapstone.Models.ForumMessage

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 35px;
        width: 30%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 2px;
        color: black;
    }
</style>

<br />
<div>
    <h2>Forum Post</h2>
    <h6 class="well">~upload an image of your Doggo to our Owner's Forum</h6>
</div>

@using (Html.BeginForm("Add", "ForumMessages", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" class="btn-sm" name="ImageFile" runat="server" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post" class="btn btn-sm" />
            </div>
        </div>
    </div>
}

