@model IEnumerable<DogBreederCapstone.Models.Litter>

@{
    ViewBag.Title = "ListByPreference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 15px;
        width: 30%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 2px;
        color: black;
    }

    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }

    #table {
        font-weight: bold;
        width: 100%;
    }

    #table td, #table th {
      border: 0.20px inset #19334d;
      padding: 8px;
      text-align: center;
    }

    #table tr:nth-child(even){background-color: #ecf2f9;}

    #table tr:hover {background-color: #B2D7F7;}

    #table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #19334d;
      color: #B2D7F7;
    }
</style>

<br />
<div>
    <h2 style="text-align:center;">Available Litters</h2>
    <hr class="border" />
    <h6 class="well">~litters that match your preferences</h6>
</div>

<table id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Coat Color
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendHomeDate)
            </th>
            <th>View Dogs</th>
            <th>Watch</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coat.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SendHomeDate)
                </td>
                <td>
                    <input type="button" class="btn btn-sm" value="Dogs" onclick="location.href = '@Url.Action("GetDogsFromLitter", "Litters", new {id = item.Id}, null)'" />
                </td>
                <td>
                    <input type="button" class="btn btn-sm" value="Watch" onclick="location.href = '@Url.Action("SelectWatchLitter", "PotentialOwners", new {id = item.Id}, null)'" />
                </td>
            </tr>
        }
    </tbody>
</table>
