@model DogBreederCapstone.ViewModels.LitterFormViewModel

@{
    ViewBag.Title = "LitterForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }
</style>
<br />
<h2 style="text-align: center;">Add a New Litter</h2>
<hr class="border" />
@using (Html.BeginForm("Save", "Litters"))
{
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.Litter.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(m => m.Litter.Name, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Litter.CoatId, htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.DropDownListFor(m => m.Litter.CoatId, new SelectList(Model.Coats, "Id", "Name"), "Select Litter Coat", new { @class = "form-control" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Litter.SizeId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(m => m.Litter.SizeId, new SelectList(Model.Sizes, "Id", "Name"), "Select Litter Size", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Litter.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(m => m.Litter.DueDate, new { @class = "form-control col-md-10" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Litter.SendHomeDate, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(m => m.Litter.SendHomeDate, new { @class = "form-control col-md-10" })
    </div>
    @Html.HiddenFor(m => m.Litter.Id)
    <br />
    <button type="submit" class="btn btn-sm">Add</button>

}