@model DogBreederCapstone.ViewModels.LitterViewModel

@{
    ViewBag.Title = "ReservationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    thead {
        border-color: slategray;
        border-width: 2px;
        border-style: groove;
        border-block: slategray;
    }

    th, td {
        text-align: center;
    }
</style>

<br/>
<h2>@Html.DisplayFor(model => model.Litter.Name) Litter</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Pup</th>
            <th>Collar Color</th>
            <th>Gender</th>
            <th>Go Home By</th>
            <th>Description</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dogs)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.Image.ImagePath)" alt="Image" style="width: 125px; height: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Collar.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Litter.SendHomeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <input type="button" class="btn btn-sm" value="Edit" onclick="location.href='@Url.Action("Edit", "Dogs", new{id = item.Id})'" />
                </td>
            </tr>
        }
    </tbody>

</table>

