@model DogBreederCapstone.ViewModels.LitterViewModel

@{
    ViewBag.Title = "ReservationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 60px;
        width: auto;
        margin-left: 7.5%;
        margin-right: 7.5%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 20px;
        color: black;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
    }

    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }

    hr.border-sm {
        border: 1px solid #B2D7F7;
        box-shadow: 0 2px 2px #19334d;
        border-radius: 2.5px;
    }

    #table {
        font-weight: bold;
        width: 100%;
    }

    #table td, #table th {
      border: 0.20px inset #eee/*#19334d*/;
      box-shadow: 0 2px 2px #ccc;
      padding: 8px;
      text-align: center;
    }

    #table tr:nth-child(even){background-color: #ecf2f9;}

    #table tr:hover {background-color: #ccc; color: #19334d;}

    #table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #19334d;
      color: #eee;
    }

    h2 {
        text-align: center;
        font-weight: bold;
    }

    h5 {
        font-style: oblique;
        font-weight: bold;
        font-size: medium;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .btn-sm:hover {
        background-color: #19334d;
    }
</style>
<br/>
<h2>@Html.DisplayFor(model => model.Litter.Name) Litter</h2>
<hr class="border" />
<table id="table">
    <thead>
        <tr>
            <th>Pup</th>
            <th>Collar Color</th>
            <th>Gender</th>
            <th>Go Home By</th>
            <th>Description</th>
            <th>Reserve Spot</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dogs)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.Image.ImagePath)" alt="Image" style="width: 150px; height: 125px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Collar.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Litter.SendHomeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <input type="button" class="btn btn-sm" value="Reserve" onclick="location.href = '@Url.Action("Reserve", "Dogs", new {id = item.Id}, null)'"/>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr class="border-sm" />
<p style="font-style: oblique; font-size: smaller;">*Reserve* - reserves the specific Doggo you want upon application approval</p>